<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/h2-console/*</url-pattern>
    </servlet-mapping>


    <!-- TODO: Configure all URLs of the application that the data be transmitted in a fashion that prevents other entities from observing the contents of the transmission -->
    <security-constraint>
        <display-name>Use HTTPS only</display-name>
        <web-resource-collection>
            <web-resource-name>sslResources</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- TODO: Add a security constraint for Finance role -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ManageBillsFinance</web-resource-name>
            <url-pattern>/bills/create.xhtml</url-pattern>
            <url-pattern>/bills/edit.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Finance</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- TODO: Add a security constraint for the Accounting role -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CanManageBillsAccounting</web-resource-name>
            <url-pattern>/bills/delete.xhtml</url-pattern>
            <url-pattern>/bills/payments/create.xhtml</url-pattern>
            <url-pattern>/bills/payments/edit.xhtml</url-pattern>
            <url-pattern>/bills/payments/delete.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Accounting</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- TODO: Add a security constraint for the roles Accounting Finance, Executive -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CanManageH2Console</web-resource-name>
            <url-pattern>/bills/index.xhtml</url-pattern>
            <url-pattern>/bills/details.xhtml</url-pattern>
            <url-pattern>/bills/detailsContent.xhtml</url-pattern>
            <url-pattern>/bills/payments/index.xhtml</url-pattern>
            <url-pattern>/bills/payments/details.xhtml</url-pattern>
            <url-pattern>/bills/payments/detailsContent.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Accounting</role-name>
            <role-name>Finance</role-name>
            <role-name>Executive</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- TODO: Add security role names supported by this application -->
    <security-role>
        <role-name>Finance</role-name>
    </security-role>
    <security-role>
        <role-name>Accounting</role-name>
    </security-role>
    <security-role>
        <role-name>Executive</role-name>
    </security-role>
    <!-- TODO: Add custom error pages for error codes 401, 403, 404, 500 -->
    <error-page>
        <error-code>401</error-code>
        <location>/errorpages/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorpages/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/500.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpages/404.xhtml</location>
    </error-page>


</web-app>